package components

import (
    "strconv"
    "github.com/sonjek/go-full-stack-example/internal/storage"
)

templ ModalEditNote(note storage.Note) {
    @Modal(
        "put",
        "/note/" + strconv.Itoa(note.ID),
        "#note-" + strconv.Itoa(note.ID),
        "outerHTML",
        ModalForm("Edit Note", "Updating Note...", "Update Note", note.Title, note.Body),
    )
}
