package components

templ ModalAddNote() {
    @Modal(
        "post",
        "/api/v1/notes",
        "#notes",
        "afterbegin",
        ModalForm("New Note", "Saving...", "Create", "", ""),
    )
}
