package components

import (
	"strconv"

	"github.com/sonjek/go-full-stack-example/internal/storage"
)

templ NotesList(notes []storage.Note) {
    if len(notes) != 0 {
        for index, note := range notes {
            if (index == len(notes)-1) {
                @NoteItem(note, "/notes/load-more?cursor=" + strconv.Itoa(note.ID))
            } else {
                @NoteItem(note)
            }
        }
    }
}
