bin
tmp
node_modules
internal/web/static/css/*
!internal/web/static/css/input.css
internal/web/static/js/*
!internal/web/static/js/app.js

.DS_Store

.deps-stamp

# Ignore compiled templ files
internal/web/**/*_templ.go
internal/web/**/*_templ.txt

*.db

# Ignore generated swagger docs
docs/
